div { 
    font-family: Arial, sans-serif;
    padding: 20px;

}

h2 {
    margin-bottom: 15px;

}
form {
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

input[type="text"],
input[type="date"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input:not([type="checkbox"]) {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
input[type="checkbox"] {
  transform: scale(1.3);
  margin-left: 5px;}

 button {
  padding: 8px 12px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #005fcc;
}
.contact-output {
    margin-top: 20px;}

 .contact-card {
    border: 1px solid #ccc;
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}   

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    width: fit-content;
    display: inline-block;
}

.delete-btn:hover {
    background-color: #cc0000;
}